.table {
    border-collapse: collapse;
    border: 1px solid #000;
  }
  
  th, td {
    border-collapse: collapse;
    border: 1px solid #000;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .header {
    display: grid;
    justify-content: center;
  }

  .content {
    display: grid;
    justify-content: center;
  }
  
  .table__column {
    padding: 5px;
  }

  .table__comment-input {
    resize: none;
  }

  .table__action-button {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }

  .table__submit-btn {
    margin-left: 20px;
  }